.card-container1 {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    transform: translateY(-100px);
  }
  
  .card-container1:hover > .card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9);
  }
  
  .card-container1 .card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100px;
    width: 250px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: transform 0.4s, filter 0.4s;
  }
  
  .card-container1 .card:hover {
    transform: scale(1.1);
  }